body {
  background: $background;
}

span.row-letter.letter-Designer {
    font-size: .659em !important;
    margin: 0 0 .2em 0;
}

.banner .banner-row.center .row-letter {
    left: 1em !important;
    font-size: .5em;
}